html {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    background-color: #000;
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
    width: 100%;
    min-width: 320px;
}

header, nav {
    display: block;
}

.grid-container {
    display: grid;
}

.grid-item {

}

#container {
    border-left: 12px;
    border-right: 12px;
}

@media (max-device-width: 601px) {
    /*#container {*/
        /*display: flex;*/
    /*}*/


    #nav-container .nav-menu tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        background-color: #000;
    }

    #nav-container .nav-menu td {
        vertical-align: middle;
        border-left: 0;
        padding: 0;
        margin: 0;
    }

    #nav-container .nav-menu span, #nav-container .nav-menu a {
        font-size: 9pt;
        display: table-cell;
        height: 50px;
        vertical-align: middle;
        padding: 0 9px;
        color: #fff;
        text-decoration: none;
        border-left: 0;
    }

    #nav-container .nav-menu span:hover, #nav-container .nav-menu a:hover {
        background-color: #ffd100;
        color: #fff;
    }
}

#header-container .utility-bar {
    width: 100%;
    background-color: #000;
    position: relative;
    height: auto;
    padding-top: 20px
}

#header-container .utility-bar .logo-container {
    width: auto;
    height: 75px;
    position: static;
}

#header-container .logo-container .logo-box {
    float: left;
    cursor: pointer;
    height: 38px;
    width: 112px;
    padding: 10px;
}

#header-container .logo-box img {
    float: left;
    margin: 0;
    height: 25px;
    padding: 13px 8px;
    width: 100px
}

#nav-container {
    position: static;
}

#page {
    width: inherit;
    position: relative;
}

#home-page .res-form {
    background-color: #FFF;
    width: 100%;
    height: 300px;
}

#home-page .res-form section {
    padding: 15px;
}

#service-container {
    background-color: #ffd100;
    border: 12px solid #ffd100;
    border-radius: 20px;
    color: #000;
    margin: auto;
    text-align: center;
    width: 100%;
}

#service-container #service-label {
    padding-top: 20px;
}

#service-container img {
    width: 100px;
    padding: 10px 0 20px 0;
}

#reservation-container {
    position: relative;
    background-color: #ffd100;
    margin: 30px auto;
    padding: 20px 0;
    width: 95%;
    border-radius: 20px;
    color: #000;
}

#reservation-container #reservation-heading {
    text-align: center;
}

#reservation-container #help-button {
    position: absolute;
    top: 20px;
    right: 25px;
}

#reservation-container #help-button img {
    width: 30px;
}

#reservation-container #help-button img:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: background .2s linear, -webkit-transform .4s cubic-bezier(0, .5, .6, 1);
}

#reservation-container form {
    margin: auto;
    padding: 0 30px;
}

#reservation-container #location-time-date {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 4px solid #000;
}

#reservation-container .label {
    font-weight: bold;
}

#reservation-container #car-details {
    padding: 20px 0;
}

#reservation-container #car-details select {
    margin-top: 5px;
    width: 60px
}

#reservation-container #location-time-date input {
    display: list-item;
    margin: 5px 0;
    width: 90%;
    height: 20px;
    line-height: 11pt;
    font-size: 11pt;
}

#reservation-container #submit-container {
    overflow: auto;
    margin: auto;
    width: 100%;
}

.flex-center-row {
    display: flex;
    justify-content: center;
}

.flex-grow-1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-grow-1 + .flex-grow-1 {
    margin-left: 2px;
}

#reservation-container #submit-container #price {
    margin: auto;
}

#reservation-container #submit-container .button {
    right: 0;
    background-color: #000;
    color: #ffd100;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: bold;
}

#reservation-container #submit-container .button:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: background .2s linear, -webkit-transform .4s cubic-bezier(0, .5, .6, 1);
}


#guide-container {
    width: 600px;
    margin: 30px auto;
    background-color: #ffd100;
    color: #000;
    text-align: center;
    border-radius: 20px;
}

#guide-container #guide-label {
    padding: 20px;
}

#guide-container #guide-content {
    margin: 0px 50px;
    padding-bottom: 10px;
}

#guide-container #guide-content .grid-container {
    grid-template-columns: 40% 53%;
    grid-column-gap: 7%;
    grid-row-gap: 0;
}

#guide-container #guide-content .grid-item {
    align-self: center;
    margin-bottom: 30px;
}

#guide-container #guide-content .grid-item img {
    border: 3px solid #000;
    border-radius: 10px;
    width: 100%;
    vertical-align: middle
}

#guide-container #guide-content .grid-item ul {
    list-style: none;
    text-align: left;
}

#guide-container #guide-content .grid-item li {
    font-size: 13pt;
}

#guide-container #guide-content #choose-option span {
    font-size: 14pt;
    font-weight: bold;
}

#guide-container #guide-content #choose-option select {
    width: 80px;
    font-size: 14pt;
}

#guide-container #guide-content .button {
    margin: 0;
    right: 0;
    background-color: #000;
    color: #ffd100;
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: bold;
}

#guide-container #guide-content .button:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: background .2s linear, -webkit-transform .4s cubic-bezier(0, .5, .6, 1);
}


@media only screen and (min-width: 480px) {
    #reservation-container {
        padding: 20px 0;
        width: 400px;
    }

    #reservation-container #submit-container #price {
        float: left;
    }

    #reservation-container #submit-container .button {
        float: right;
    }
}

@media only screen and (min-device-width: 600px) {
    body, #container {
        min-width: 600px;
    }

    #header-container .utility-bar {
        height: 68px;
    }

    #header-container .utility-bar .logo-container {
        height: 68px;
        position: absolute;
        left: 0;
        bottom: 0
    }

    #header-container .logo-container .logo-box {
        height: 68px;
        width: 166px;
        padding: 0;
    }

    #header-container .logo-box img {
        height: 22px;
        padding: 23px 0px 23px 10px;
        width: 82px
    }

    #nav-container {
        position: relative;
    }

    #nav-container .nav-menu {
        display: block;
        height: 50px;
        width: 100%;
        text-transform: uppercase;
        font-size: 10pt;
    }

    #nav-container .nav-menu table {
        width: auto;
        padding: 0;
        margin: 0px;
        border-collapse: collapse;
        float: left;
        position: relative;
        background-color: #000;
    }

    #nav-container .nav-menu td {
        vertical-align: middle;
        border-left: 0;
        padding: 0;
        margin: 0;
    }

    #nav-container .nav-menu span, #nav-container .nav-menu a {
        font-size: 9pt;
        display: table-cell;
        height: 50px;
        vertical-align: middle;
        padding: 0 9px;
        color: #fff;
        text-decoration: none;
        border-left: 0;
    }

    #nav-container .nav-menu span:hover, #nav-container .nav-menu a:hover {
        background-color: #ffd100;
        color: #fff;
    }

    #service-container {
        margin: 100px auto;
        width: 450px;
    }
}

@media only screen and (min-device-width: 768px) {
    body, #container {
        min-width: 768px;
    }

    #home-page .res-form {
        background-color: #fff;
        width: 364px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 5;
    }
}

@media only screen and (min-device-width: 992px) {
    body, #container {
        min-width: 992px;
    }

    #header-container .utility-bar {
        height: 98px;
    }

    #header-container .utility-bar .logo-container {
        height: 98px;
    }

    #header-container .logo-container .logo-box {
        height: 98px;
        width: 357px;
        padding: 0;
    }

    #header-container .logo-box img {
        height: 48px;
        padding: 35px;
        width: 178px
    }

    #nav-container .nav-menu table {
        padding: 0 0 0 9px;
    }

    #nav-container .nav-menu span, #nav-container .nav-menu a {
        font-size: 12pt;
        padding: 0 14px;
    }

    #nav-container .nav-menu span:hover, #nav-container .nav-menu a:hover {
        background-color: #ffd100;
        color: #fff;
    }
}

@media only screen and (min-width: 1248px) {
    #container {
        width: 1248px;
        margin: 0 auto;
    }
}

.skip-to-content a {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-to-content a:focus, .skip-to-content a:active {
    position: static;
    left: 0;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline;
}
